services:
  chat-db:
    image: postgres:15-alpine
    container_name: chat-db
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES__DATABASE}
      POSTGRES_USER: ${POSTGRES__USERNAME}
      POSTGRES_PASSWORD: ${POSTGRES__PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  mongo-db:
    image: mongo:6.0
    container_name: chat-mongo
    hostname: mongo-db
    env_file:
      - .env
    command: ["--replSet", "rs0", "--bind_ip_all"]
    volumes:
      - mongo_data:/data/db
      - ./mongo-init.js:/mongo-init.js:ro
    ports:
      - "27017:27017"
    healthcheck:
      test: |
        mongosh --quiet --eval "
          try {
            rs.status();
          } catch (err) {
            rs.initiate({
              _id: 'rs0',
              members: [{ _id: 0, host: 'mongo-db:27017' }]
            });
          }
        " || exit 1
      interval: 3s
      timeout: 5s
      retries: 10
      start_period: 10s

  mongo-setup:
    image: mongo:6.0
    container_name: mongo-setup
    depends_on:
      mongo-db:
        condition: service_healthy
    volumes:
      - ./mongo-init.js:/mongo-init.js:ro
    command: |
      bash -c "
        sleep 5
        mongosh --host mongo-db:27017 < /mongo-init.js
      "
    restart: "no"

  kafka:
    image: apache/kafka:latest
    container_name: kafka
    hostname: kafka
    user: root
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:29093
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,CONTROLLER://0.0.0.0:29093,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
    ports:
      - "9092:9092"
      - "29092:29092"
    volumes:
      - kafka_data:/tmp/kraft-combined-logs
    healthcheck:
      test: nc -z localhost 29092 || exit 1
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka-ui
    ports:
      - "8080:8080"
    environment:
      - KAFKA_CLUSTERS_0_NAME=local
      - KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS=kafka:29092
      - KAFKA_CLUSTERS_0_READONLY=false
    depends_on:
      kafka:
        condition: service_healthy

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6380:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  backend:
    build:
      context: .
      target: development
    container_name: chat-backend
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgresql://${POSTGRES__USERNAME}:${POSTGRES__PASSWORD}@chat-db:5432/${POSTGRES__DATABASE}
      - MONGO_URL=mongodb://mongo-db:27017/${MONGO__DATABASE}?replicaSet=rs0
      - KAFKA_BROKER=kafka:29092
    ports:
      - "8000:8000"
    depends_on:
      mongo-db:
        condition: service_healthy
      mongo-setup:
        condition: service_completed_successfully
      chat-db:
        condition: service_started
      kafka:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - .:/app

  celery-worker:
    build:
      context: .
      target: development
    container_name: celery-worker
    env_file:
      - .env
    command: celery -A app.worker.celery_app worker --loglevel=info --concurrency=4
    depends_on:
      redis:
        condition: service_healthy
      kafka:
       condition: service_healthy
      mongo-db:
        condition: service_healthy
    volumes:
      - .:/app
    restart: unless-stopped

  celery-beat:
    build:
      context: .
      target: development
    container_name: celery-beat
    env_file:
      - .env
    command: celery -A app.worker.celery_app beat --loglevel=info
    depends_on:
      redis:
        condition: service_healthy
    volumes:
      - .:/app
    restart: unless-stopped

volumes:
  postgres_data:
  mongo_data:
  kafka_data:
  redis_data: